<!-- <hello name="{{ name }}"  >
</hello><br/>
<input type="text" [(ngModel)]="txt"  (ngModelChange)="getcount()" />
<p [innerText]="txt" applystyle [Dcolor]="'green'" [Acolor]="'grey'"></p>
<p>The content count is : {{count}}</p>
<p>
  Start editing to see some magic happen :)
</p>
<p *ngFor="let n of nums">
  {{n}}</p>
<input type="button" (click)="showeven()" value="Show only even"/> -->
<!-- <app-heroes></app-heroes> -->
<!-- <nav>
  <a routerLink="/heroes">Heroes</a>
</nav> -->
<!-- <p class="text-success">It's working....</p> -->
 <div class="jumbotron jumbotron-fluid">
   <h3 class="display-4 text-center"><b>Restaurant App</b></h3>
   <div class="container">
     <div class="row">
       <div class="col-mid-10 offset-md-1">
         <router-outlet></router-outlet>
       </div>
     </div>
   </div>
 </div>